html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior: none;
}

sup {
  font-size: inherit;
  font-family: $font-family-secondary;
  top: 0;
}

b,
strong {
  font-weight: 600;
}

p {
  @include media-breakpoint-up(md) {
    margin-bottom: 1.5rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
